<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Cousine&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <script type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Барський ліцей №2</title>
</head>
<body>
    <header>
         <div>
             <div class="lizey">
                    <img src="./icon.png" class="icon" style="height: 185px;">
                    <br>
                 <div class="header_text">
                    <br>
                    <h1>
                        БАРСЬКИЙ ЛІЦЕЙ №2
                    </h1>
                    <h2>
                        БАРСЬКОЇ МІСЬКОЇ РАДИ
                    </h2>
                 </div>
             </div>
         </div>
         <div>
             <div class="tabs">
                 <div class="buttons">
                        <a href="/"><input type="button" class="btn" value="ГОЛОВНА"></a>
                        <a href="/about"><input type="button" class="btn" value="ПРО НАС"></a>
                        <a href="/news"><input type="button" class="btn" value="НОВИНИ"></a>
                        <a href="#"><input type="button" class="btn" value="ДЛЯ БАТЬКІВ"></a>
                        <a href="#"><input type="button" class="btn" value="КОНТАКТИ"></a>
                        <a href="#"><input type="button" class="lang" value="UA"></a>
                        <a href="#"><input type="button" class="lang" value="EN"></a>
                 </div>
             </div>
         </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="aboutSchool">
        <div class="history">
            <h2 class="label">
                Історія школи
            </h2>
            <div class="historyDesc">
                <ul class="desc">
                    <li class="descPart"></li>
                    <li class="descPart"></li>
                    <li class="descPart"></li>
                    <li class="descPart"></li>
                    <li class="descPart"></li>
                    <li class="descPart"></li>
                    <li class="descPart"></li>
                    <li class="descPart"></li>
                </ul>
            </div>
        </div>
        <div class="administration">
            <h2 class="label">
                Адміністрація
            </h2>
            <ul class="desc">
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
            </ul>
        </div>
        <div class="visitka">
            <h2 class="label">
                Візитка школи                
            </h2>
            <ul class="desc">
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
            </ul>
        </div>
        <div class="symvolika">
            <h2 class="label">
                Символіка школи
            </h2>
            <ul class="desc">
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
            </ul>
        </div>
        <div class="kolektyv">
            <h2 class="label">
                Педагогічний колектив
            </h2>
            <ul class="desc">
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
            </ul>
        </div>
        <div class="dosyagnennya">
            <h2 class="label">
                Наші досітянення
            </h2>
            <ul class="desc">
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
            </ul>
        </div>
        <div class="koncepziya">
            <h2 class="label">
                Концепція
            </h2>
            <ul class="desc">
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
            </ul>
        </div>
        <div class="statut">
            <h2 class="label">
                Статут школи
            </h2>
            <ul class="desc">
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
                <li class="descPart"></li>
            </ul>
        </div>
    </div>
</body>