<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Барський ліцей №2</title>
</head>
<body>
    <header>
         <div>
             <div class="lizey">
                    <img src="./icon.png" class="icon" style="height: 185px;">
                    <br>
                 <div class="header_text">
                    <br>
                    <h1>
                        БАРСЬКИЙ ЛІЦЕЙ №2
                    </h1>
                    <h2>
                        БАРСЬКОЇ МІСЬКОЇ РАДИ
                    </h2>
                 </div>
             </div>
         </div>
         <div>
             <div class="tabs">
                 <div class="buttons">
                        <a href="/"><input type="button" class="btn" value="ГОЛОВНА"></a>
                        <input type="button" class="btnAbout" value="ПРО НАС" onclick="showContextMenu();">
                        <div class="custom-cmAbout">
                          <a href="/businesscard"><div class="block">
                            <div class="custom-cmAbout__item">Візитка школи</div>
                          </div><br></a>
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/symbols"><div class="block">
                              <div class="custom-cmAbout__item">Символіка школи</div>
                          </div><br></a>                         
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/history"><div class="block">
                              <div class="custom-cmAbout__item">Історія школи</div>
                          </div><br></a>                         
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/administration"><div class="block">
                              <div class="custom-cmAbout__item">Адміністрація</div>
                          </div><br></a>                         
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/team"><div class="block">
                              <div class="custom-cmAbout__item">Педагогічний колектив</div>
                          </div><br></a>                      
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/conception"><div class="block">
                              <div class="custom-cmAbout__item">Концепція</div>
                          </div><br></a>                         
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/goals"><div class="block">
                              <div class="custom-cmAbout__item">Наші досягення</div>
                          </div><br></a>                        
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/statut"><div class="block">
                              <div class="custom-cmAbout__item">Статут школи</div>
                          </div><br></a>                         
                        </div>
                        <script>
                          const cmAbout = document.querySelector('.custom-cmAbout');
                          const aboutBtn = document.querySelector('.btnAbout');

                          function showContextMenu(show = true) {
                            cmAbout.style.display = show ? 'block' : 'none';
                          }
                          
                          aboutBtn.addEventListener('contextmenu', (e) => {
                            e.preventDefault();
                            showContextMenu();
                            console.log(e);
                            cmAbout.style.top = e.y;
                            cmAbout.style.left = e.y;
                          });

                          window.addEventListener('click', () => {
                            showContextMenu(false);
                          });
                        </script>
                        <a href="/news"><input type="button" class="btn" value="НОВИНИ"></a>
                        <a href="#"><input type="button" class="btn" value="ДЛЯ БАТЬКІВ"></a>
                        <a href="#"><input type="button" class="btn" value="КОНТАКТИ"></a>
                 </div>
             </div>
         </div>
    </header>
    <div class="mainPart">
        <form method="POST">
            <div class="typingTitle">
                <input type="text" value="<%= title %>" name="title" class="titleInput" placeholder="Заголовок">
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="typingTextThatWillBeShownOnThePreview">
                <textarea name="textThatWillBeShownOnThePreview" id="textThatWillBeShownOnThePreviews" cols="30" rows="5" class="textThatWillBeShownOnThePreview" placeholder="Текст, який буде видно на прев'ю"><%= desc %></textarea>
                <input type="file" id="preview_photo" class="preview_photo" name="preview_photo"/>
                <label class="fileLabel" for="preview_photo">ВИБЕРІТЬ ПРЕВʼЮ</label>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="typingMainText">
                <textarea value="hello world" name="mainText" id="mainText" cols="30" rows="30" class="mainText" id="mainText" placeholder="Текст статті"><%= main_text %></textarea>            
            </div>
            <div class="photos">                
                <div class="photosMenu">
                    <input type="file" class="photo" name="photo1" id="photo1">
                    <label for="photo1">ФОТО №1</label>
                    <input type="file" class="photo" name="photo2" id="photo2">
                    <label for="photo2">ФОТО №2</label>
                    <input type="file" class="photo" name="photo3" id="photo3">
                    <label for="photo3">ФОТО №3</label>
                    <input type="file" class="photo" name="photo4" id="photo4">
                    <label for="photo4">ФОТО №4</label>                  
            </div> 
            </div>
                    
            <div class="combobox">
                    <p>Зберегти</p>
                    <select name="post_type" id="postType">
                        <option value="posts">В ПОСТИ</option>
                        <option value="drafts">В ЧЕРНЕТКИ</option>
                    </select>
            </div>   
                    <br>
                    <br>        
                    <input type="submit" value="ЗБЕРЕГТИ" class="submitButton">       
        </form>
    </div>
</body>