<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Барський ліцей №2</title>
</head>
<body>
    <header>
         <div>
             <div class="lizey">
                    <img src="./icon.png" class="icon" style="height: 185px;">
                    <br>
                 <div class="header_text">
                    <br>
                    <h1>
                        БАРСЬКИЙ ЛІЦЕЙ №2
                    </h1>
                    <h2>
                        БАРСЬКОЇ МІСЬКОЇ РАДИ
                    </h2>
                 </div>
             </div>
         </div>
         <div>
             <div class="tabs">
                 <div class="buttons">
                        <a href="/"><input type="button" class="btn" value="ГОЛОВНА"></a>
                        <input type="button" class="btnAbout" value="ПРО НАС" onclick="showContextMenu();">
                        <div class="custom-cmAbout">
                          <a href="/businesscard"><div class="block">
                            <div class="custom-cmAbout__item">Візитка школи</div>
                          </div><br></a>
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/symbols"><div class="block">
                              <div class="custom-cmAbout__item">Символіка школи</div>
                          </div><br></a>                         
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/history"><div class="block">
                              <div class="custom-cmAbout__item">Історія школи</div>
                          </div><br></a>                         
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/administration"><div class="block">
                              <div class="custom-cmAbout__item">Адміністрація</div>
                          </div><br></a>                         
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/team"><div class="block">
                              <div class="custom-cmAbout__item">Педагогічний колектив</div>
                          </div><br></a>                      
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/conception"><div class="block">
                              <div class="custom-cmAbout__item">Концепція</div>
                          </div><br></a>                         
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/goals"><div class="block">
                              <div class="custom-cmAbout__item">Наші досягення</div>
                          </div><br></a>                        
                          <div class="custom-cmAbout__divider"></div>
                          <a href="/statut"><div class="block">
                              <div class="custom-cmAbout__item">Статут школи</div>
                          </div><br></a>                         
                        </div>
                        <script>
                          const cmAbout = document.querySelector('.custom-cmAbout');
                          const aboutBtn = document.querySelector('.btnAbout');

                          function showContextMenu(show = true) {
                            cmAbout.style.display = show ? 'block' : 'none';
                          }
                          
                          aboutBtn.addEventListener('contextmenu', (e) => {
                            e.preventDefault();
                            showContextMenu();
                            console.log(e);
                            cmAbout.style.top = e.y;
                            cmAbout.style.left = e.y;
                          });

                          window.addEventListener('click', () => {
                            showContextMenu(false);
                          });
                        </script>
                        <a href="/news"><input type="button" class="btn" value="НОВИНИ"></a>
                        <a href="#"><input type="button" class="btn" value="ДЛЯ БАТЬКІВ"></a>
                        <a href="#"><input type="button" class="btn" value="КОНТАКТИ"></a>
                        <a href="#"><input type="button" class="lang" value="UA"></a>
                        <a href="#"><input type="button" class="lang" value="EN"></a>
                 </div>
             </div>
         </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="header">
        <h2 class="label">
            ІСТОРІЯ ШКОЛИ
        </h2>
    </div> 
    <div class="middle">
        <div class="part">
            <div class="nameOfPart">
                <p>
                        Заснування гімназії та перші роки існування
                </p>
            </div>
            <br>
            <div class="mainText">
                <div class="absaz">
                        У 1902 році в місті Бар відкрилася жіноча гімназія на основі «Положения о женских гимназиях и прогимназиях Министерства Народного Просвещения» число 1, месяц сентябрь, год 1902 в составе приготовительного и четырех младших классов" як приватний навчальний заклад. Міська знать орендувала одне з найкращих приміщень міста, що належало місцевому багатію Рижому. Спочатку було відкрито 5 класів гімназії.
                </div>
                <div class="absaz">
                        Гімназія утримувалася на власні кошти, одержані від внесення плати за навчання, а міське Управління доплачувало решту.
                </div>
                <div class="absaz">
                    Першим начальником гімназії була Ващенко-Захаренко.
                </div>
                <div class="absaz">
                     У гімназію приймали в основному дітей заможних батьків (плата за навчання становила 4 тис. крб.). Приймали не тільки жителів Бара й навколишніх сіл, а й з інших повітів Подільської губернії. Перші два роки після відкриття гімназії в ній навчалося 150 гімназисток, у 1904 році — 210 гімназисток, а кількість класів збільшилася до семи. Гімназія існувала до 1920 року.
                </div>                  
            </div>            
        </div>
        <br>
        <br>
        <div class="part">
                <div class="nameOfPart">
                    <p>
                            Школа у міжвоєнний період
                    </p>
                </div>
                <br>
                <div class="mainText">
                    <div class="absaz">
                        16 жовтня 1918 року було прийнято декрет «Про єдину трудову школу РРФСР», у ст. 13 зазначалося, що «навчання в трудовій школі носить загальноосвітній політехнічний характер на обох ступенях». Недалеко від гімназії знаходилося міське училище на чотири групи-комплекти. На базі цих двох приміщень, згідно декрету, з 1920 по 1923 рік було відкрито школу фабрично-заводського навчання — ФЗН, яка давала учням професію робітника.
                    </div>
                    <div class="absaz">
                         У 1923 році на базі школи була відкрита Барська трудова школа № 2, яка діяла до 1933 року. Директором був призначений Горбатий Павло Анастасович, заслужений вчитель УРСР.
                    </div>
                    <div class="absaz">
                          У 1933 році Народний Комісаріат України реорганізував Барську трудову школу в середній навчальний заклад, який з часом став називатися Барською зразковою середньою школою № 2. З 1933 по 1937 рік директором школи був Данченко Микита Павлович. У 1937 році директором школи став Зозуляк Петро Іванович, заслужений вчитель УРСР.
                    </div>                   
                </div>                
        </div>
        <br>
        <br>
        <div class="part">
            <div class="nameOfPart">
                <p>
                        У роки Другої світової війни
                </p>
            </div>
            <br>
            <div class="mainText">
                <div class="absaz">
                        Під час окупації міста німецькі фашисти перетворили приміщення
                        школи на зерносховище для потреб німецької армії, знищивши
                        бібліотеку школи, обладнання кабінетів, шкільні меблі; навчання
                        в школі припинилося. З ініціативи вчителів-патріотів в місті були
                        організовані підпільні школи. До цього долучилися й вчителі Барської
                        трудової школи № 2, які навчали дітей у себе вдома, за радянськими
                        підручниками і програмами. Такі школи діяли протягом 1942—1943 років 
                        на початку 1944.
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="part">
            <div class="nameOfPart">
                <p>
                        Повоєнний період
                </p>
            </div>
            <br>
            <div class="mainText">
                <div class="absaz">
                        По закінченню війни і з початком відбудови почався активний процес відбудови і самої школи, переважно силами вчителів та учнів. У перші післявоєнні роки діти навчалися у важких умовах: майже не було підручників і
                        зошитів, приміщення школи було напівзруйноване, класи погано опалювались.
                </div>
                <div class="absaz">
                        З 1945 по 1951 роки — Барська семирічна школа, в 1945 р. тут було 5 класів і навчалося 200 учнів. Директором семирічки з 1945 по 1964 була Нудельман Клара Ізраїлівна.
                </div>
                <div class="absaz">
                        З 1952—1953 навчального року школа знову стає середньою, якою була до війни — Барська середня школа № 2, а в 1953-54 навчальному році відбувся перший післявоєнний випуск 10 класу.
                </div>
                <div class="absaz">
                        У 1954 році в школі відкрився експериментальний клас з виробничим навчанням, який готував кваліфікованих робітників і надавав учням середню освіту. З того часу і по 1955 рік школа давала випускникам, окрім середньої освіти, робітничу кваліфікацію.
                </div>
                <div class="absaz">
                        У 60-их роках у школі працювало близько 50 педагогів, а навчалося понад 600 учнів. Існували танцювальні, драматичні, спортивні гуртки. При школі була власна теплиця.
                </div>
                <img src="4.png" class="schoolPhoto">
            </div>
        </div>
        <br>
        <br>
        <div class="part">
            <div class="nameOfPart">
                <p>
                        Добудова школи
                </p>
            </div>
            <br>
            <div class="mainText">
                <div class="absaz">
                        З 1964 по 1966 рік директором школи був Кінщак Андрій Іванович. У післявоєнний період кількість учнів збільшилася, у зв'язку з цим в 1967 році почалася добудова школи. Кінщак Андрій Іванович спроектував та здобув кошти на будівництво. Було добудовано актовий зал, приміщення їдальні, спортзал, навчальні кабінети з хімії, фізики, майстерні. Завершено будівництво в 1977 році, за директора Лічмана А. М.
                </div>
                <div class="absaz">
                        Із 1966 по 1977 роки директором школи був Лясоцький А. І.
                </div>
                <div class="absaz">
                        З 1977 по 2004 — директор Лічман А. М.
                </div>
                <div class="absaz">
                        Із 1985 року школа стає базовою, в ній навчається близько 1200 учнів. Школа була першою в районі з кількості зайнятих призових місць в районних олімпіадах. Разом з атестатами про середню освіту випускники одержували посвідчення швеї-мотористки, слюсаря. Учні проходили практику в сільських господарствах району. За високі досягнення у навчанні учні нагороджувалися екскурсійними поїздками в міста-герої Радянського Союзу. У школі діяли духовий оркестр, естрадно-інструментальний ансамбль, танцювальний колектив, хор учнів та учителів.
                </div>
                <div class="absaz">
                        У 1982 році до 80-річчя навчального закладу було відкрито музей школи та меморіальну дошку ім. П. А. Горбатого.
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="part">
            <div class="nameOfPart">
                <p>
                        У добу незалежної України
                </p>
            </div>
            <br>
            <div class="mainText">
                <div class="absaz">
                        Із 1991 року школа працює як загальноосвітня школа І-ІІІ ступенів із спеціалізованими класами поглибленого вивчення іноземних мов (англійська, німецька, польська, російська). З 1995 року — розпочинає співпрацю з волонтерами Корпусу Миру.
                </div>
                <div class="absaz">
                        З 2004 до 2006 року директором школи працювала Фолюшняк Л. І.

                        З нагоди ювілею 100-річчя школи у 2002 році педагогічний колектив нагороджений Українським товариством охорони пам'яток історії та культури медаллю «Богдана Хмельницького».
                        
                        При школі відкрито дистанційне навчання Вінницького університету розвитку людини «Україна» (2004—2006).
                        
                        Завдяки співпраці з Корпусом Миру (США) на базі школи створений районний ресурсний центр англійської мови.
                        
                        Із 2005 року започатковано Міжнародну співпрацю між школою № 2 м. Бара  і школами м. Рибніка (Польща).
                </div>
                <div class="absaz">
                        З листопада 2006 року директором школи працює Федик Сергій Михайлович.
                </div>
                <div class="absaz">
                        8 червня 2007 року школа реорганізована в навчально-виховний комплекс «Загальноосвітня школа І-ІІІ ст. № 2 — гімназія».
                </div>
                <div class="absaz">
                    У 2009 році навчальний заклад став лауреатом загальноукраїнської громадської акції «Флагман сучасної освіти України».
                </div>
                <div class="absaz">
                    У 2010 році в рамках Міжнародної виставки «Сучасні навчальні заклади-2010» НВК був учасником засідання «круглого столу» на тему «Збереження здоров'я дітей України, роль сучасної школи та відповідальність суспільства» м. Київ. Матеріали виступу директора було опубліковано у Всеукраїнському науково-практичному журналі «Директор школи, ліцею, гімназії».
                </div>
                <div class="absaz">
                    НВК отримав пам'ятний знак «Краща загальноосвітня школа міста, 2010»
                </div>
                <div class="absaz">
                        Школа надає можливість рівного доступу до освіти дітям з особливими потребами. У 2014—2015 навчальному році створено інклюзивний клас. У 2017—2018 працює 3 інклюзивних класи.
                </div>
                <div class="absaz">
                        З 2011 року школа є центром Барського освітнього округу, який об'єднує 14 шкіл району. У 2016 році навчальний заклад зайняв ІІ місце в обласному конкурсі на кращий освітній округ.
                </div>
                <div class="absaz">
                        У 2013 році школа ввійшла до 300 кращих навчальних закладів України за результатами ЗНО.
                </div>
                <div class="absaz">
                        У грудні 2017 року в честь 25-річчя Національної академії педагогічних наук України школу занесено до ювілейної книги за співпрацю з НАПНУ та проведення дослідницької роботи.
                </div>
                <div class="absaz">
                        У 2016, 2017 роках школа стала переможцем конкурсу «Go Camp», що дало змогу запросити в табір волонтерів-носіїв мови та обладнати ще один кабінет інформатики.
                </div>
                <div class="absaz">
                        Школа тісно співпрацює з Корпусом Миру США.
                </div>
                <div class="absaz">
                        З 2018 року НВК «ЗОШ І-ІІІ ст. № 2 — гімназія» реорганізовано в Барський ліцей № 2 Барської міської ради.
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</body>