<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./loging_in.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/login_style.css">
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вхід</title>
</head>
<body>
    <header>
        <div>
            <div class="lizey">
                   <img src="./icon.png" class="icon" style="height: 175px;">
                <div class="header_text">
                   <h1>
                       БАРСЬКИЙ ЛІЦЕЙ №2
                   </h1>
                   <h2>
                       БАРСЬКОЇ МІСЬКОЇ РАДИ
                   </h2>
                </div>
            </div>
        </div>
        <div>
            <div class="tabs">
                <div class="buttons">
                       <a href="/"><input type="button" class="btn" value="ГОЛОВНА"></a>
                       <a href="#"><input type="button" class="btn" value="ПРО НАС"></a>
                       <a href="/news"><input type="button" class="btn" value="НОВИНИ"></a>
                       <a href="#"><input type="button" class="btn" value="ДЛЯ БАТЬКІВ"></a>
                       <a href="#"><input type="button" class="btn" value="КОНТАКТИ"></a>
                       <a href="#"><input type="button" class="lang" value="UA"></a>
                       <a href="#"><input type="button" class="lang" value="EN"></a>
                </div>
            </div>
        </div>
   </header>
   <div>
        <div class="image">
            <img src="./main.jpg" style="width: 1510px;">
        </div>
    </div>
    <div>
        <div>
            <div>
                <form method="post">
                    <input placeholder="Логін" type="text" name="login">
                    <input placeholder="Пароль" type="password" name="password">
                    <input class="btn_submit" type="submit" value="Підтвердити">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
